
<div class="hero-unit">
	<h3>This is your user page,</h3><h1> <%=@user.name %></h1>
	<p>Unit: <%=@user.unit%><p>
	<blockquote>
		<p>There isn't much here, but there will be!</p>
		<small>There are many like it, but this is yours.</small>
	</blockquote>
</div>
