
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<td>	Event Date: 	</td>
		<td>	ASA: 			</td>
		<td>	ASA Email: 		</td>
		<td>	Unit:			</td>
		<td>	Defendant:		</td>
		<td>	D.O.B: 			</td>
		<td>	Attorney: 		</td>
		<td>	Category: 		</td>
		<td>	What Happened: 	</td>
		<td>	Created On: 	</td>
	</tr>
	<%= render :partial => 'shared/report_item', :collection => @posts %>
</table>
