<form class="form-search" action="/casefiles" method="post">
	<input id="search" name="search" type="text" class="input-small search-query">
	<button type="submit" class="btn btn-mini">Search</button>
</form>