<% if object.errors.any? %>
	<div class="alert alert-error">
		There were problems with the following fields:
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>