	<div class="hero-unit">
		<h1>justEvents</h1>
		<p>
			justEvents, an event-logging tool for ASAs
		</p>
		<a class="btn btn-primary btn-large" href="<%= signup_path %>">Sign Up!</a>
		<h6>This software is available only to Prince George's County ASAs.  If you are not on the whitelist, your signup will fail.  Contact ASA Bohrer with any questions.</h6>
	</div>