<tr>
	<td>	<%= link_to petition_item.defendant, petition_item %> 	</td>
	<td>	<%= petition_item.created_at.to_s %> 	</td>
	<td>	<%= petition_item.ccn.to_s %> 	</td>
	<td>	<%= petition_item.asa %> 	</td>
</tr>
	