<form 
	action="/sessions" 
	class="well form-inline" 
	method="post" 
	>
	<input 
		id="session_email" 
		name="session[email]" 
		type="text"
		class="input-small"
		placeholder="email"
		>
	<input 
		class="input-small"
		placeholder="password"
		id="session_password" 
		name="session[password]" 
		type="password"
		>
	<input 
		class="action input_action btn btn-primary" 
		id="session_submit_action" 
		name="commit" 
		type="submit" 
		value="Sign in"
		>
</form>