<% if signed_in? %>
	<h1>what's happened?</h1>
		<%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
		<%= render 'shared/user_info' %>
<% else %>
	<h1>justEvents</h1>
	<p>
		justEvents, an event-logging tool for ASAs
	</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>