<h1>Your posts</h1>
<% if signed_in? %>
		<% unless @feed_items.empty? %>
			<table class="table table-striped">
				<p><%= render :partial => 'shared/feed_item', :collection => Micropost.find(:all) %></p>
			</table>
<% end %>
<% else %>
	<div class="hero-unit">
		<h1>You're not logged in!</h1>
		<p>Please log in or sign up.</p>
		<a class="btn btn-primary btn-large" href="<%= signup_path %>">Sign Up!</a>
		<h6>This software is available only to Prince George's County ASAs.  If you are not on the whitelist, your signup will fail.  Contact ASA Bohrer with any questions.</h6>
	</div>
<% end %>