<h1>Reports</h1>
<ul class="nav nav-pills">
	<li><a href="#basic" data-toggle="tab">Basic</a></li>
	<li><a href="#unit" data-toggle="tab">Your Unit</a></li>
	<li><a href="#csv" data-toggle="tab">CSV files</a></li>
	<li><a href="#custom" data-toggle="tab">Custom</a></li>
	<% if current_user.unit=="juvenile" %>
		<li><a href="#petition" data-toggle="tab">Petitions</a></li>
	<% end %>
</ul>

<div class="tab-content">
	<div class="tab-pane" id="basic">
		<%= render 'shared/basic_report' %>
	</div>
	<div class="tab-pane" id="unit">
		<%= render 'shared/unit_report' %>
	</div>
	<div class="tab-pane" id="custom">
		<%= render 'shared/report_form' %>
	</div>
	<% if current_user.unit=="juvenile" %>
		<div class="tab-pane" id="petition">
			<%= render 'shared/petition_report_form' %>
		</div>
	<% end %>
</div>

<script>
	$(function () {
		$('.tabs').tabs()
		})
</script>